* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* border: 1px solid lime; */
}

body {
  display: flex;
  justify-content: center;
}
.dropDownBtn {
  padding: 0.5rem;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  &:hover {
    background-color: rgb(156, 182, 186);
    color: rgb(0, 0, 0);
  }
}

li {
  list-style: none;
  padding: 5px 10px;
  font-size: 20px;
  border-bottom: 1px solid rgb(16, 13, 209);
  cursor: pointer;
  &:hover {
    background-color: rgb(44, 165, 181);
    color: aqua;
  }
}

.navbar {
  display: flex;
  gap: 2rem;
  position: relative;
}

.drop-down-menu {
  display: none;
  position: absolute;
  z-index: 1; /* Ensure drop-down menus appear above other content */
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* transform: translateY(-1em); */
  transition: transform 0.5s;
}
/* 
.btn-wrapper:hover {
  .drop-down-menu {
    display: block;
    transform: translateY(0);
  }
} */
